@import '../../scss/_variables.scss';

.Simplify{
    background: $BrightRed;
    color: white;
    padding: $sectionY $mobileGutter;
    text-align: center;
    position: relative;
    overflow: hidden;
    button{
        padding: 15px 25px;
        background: white;
        border: none;
        border-radius: 20px;
        color: $BrightRed;
        font-weight: bold;
        margin: $elementY;
        box-shadow:  $buttonShadow;
    }
    img{
        position: absolute;
    }
    &__mobileImage{
        left: 0;
        bottom: 0;
        @media(min-width: 930px){
            display: none;
        }
    }
    &__desktopImage{
        display: none;
        @media(min-width: 930px){
            display: initial;
        }
    }


    


    @media(min-width: 950px){
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $sectionY $desktopGutter;
        h1{
            width: 45%;
            font-size: 34px;
            text-align: left;
            line-height: 1.2;
         }
    }
}
