@import '../../scss/_variables.scss';

.Simplify{
    background: $BrightRed;
    color: white;
    padding: $sectionY $mobileGutter;
    text-align: center;
    position: relative;
    button{
        padding: 15px 25px;
        background: white;
        border: none;
        border-radius: 20px;
        color: $BrightRed;
        font-weight: bold;
        margin: $elementY;
        box-shadow:  $buttonShadow;
    }
    img{
        position: absolute;
        left: 0;
        bottom: 20px;
    }
}