@import '../../scss/_variables.scss';
.Hero{
    padding: $sectionY $mobileGutter;
    padding-top: calc(#{$sectionY} * 2);
    text-align: center;
    position: relative;
    overflow: hidden;
    p{
        padding: $elementY 40px;
        @media (min-width: 950px){
            padding: $elementY 0;
        }
    }
    @media (min-width: 950px){
        display: flex;
        margin-top: 60px;
        padding: $sectionY $desktopGutter;
    }
}

.Hero__background{
    position: absolute;
    top:-120px;
    right: -120px;
    z-index: -1;
    @media (min-width: 950px){
        top:-300px;
        right: -300px;
    }
}
.Hero__backgroundBottom{
    position: absolute;
    bottom:20px;
    right: -70%;
    z-index: -1;
    @media (min-width: 950px){
       display: none;
    }
}

.Hero__textSide{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
     @media (min-width: 950px){
        order: -1;
        flex:1;
        text-align: left;
        align-items: flex-start;
    }
}
.Hero__imgSide{
    @media (min-width: 950px){
        flex:1;
    }
}