@import '../../scss/_variables.scss';
.Header{
     height: 80px;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    padding: 0 $mobileGutter;
    z-index: 100;
    background: white;
    @media (min-width: 950px){
        padding: 0 $desktopGutter;
    }
}

.hamburger{
    cursor: pointer;
    @media (min-width: 950px){
        display: none;
    }
}

.mobileNav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 $mobileGutter;
    flex-flow: column;
    border-radius: 5px;
    padding: 40px 0;
    opacity: 0;
    background: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    margin-top: 80px;
    box-shadow: 
        2px 6px 20px 3px rgba(0,0,0,.1),
        0 0 0 100vh rgba(0,0,0,.1);
        ;
    li{
        padding: 10px 0;
        font-weight: bold;
        color: $DarkBlue;
        font-size: 16px;
        cursor: pointer;
        opacity: 0;
       margin-left: 20px;
       
    }
}
.mobileHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    @media (min-width: 950px){
        display: none;
    }
}

.desktopNav{
    display: none;
    width: 100%;
    justify-content: space-between;
    align-items:center;
    height: 100%;
    li{
        padding: 0 10px;
    }
    @media (min-width: 950px){
        display: flex;
    }
}

.HeaderActive{
 
}