@import '../../scss/_variables.scss';
.Footer{
    background: $VeryDarkBlue;
    color: white;
    padding: $sectionY $mobileGutter;
    display: flex;
    flex-flow: column;
    align-items: center;

    @media(min-width: 950px){
        flex-flow: row;
        align-items: flex-start;
    }
   

    form{
        display: flex;
        width: 100%;
        input{
            border: none;
            padding: 15px;
            border-radius: 40px;
            width: 100%;
            margin-right: 10px;
            padding-left: 30px;
        }

        @media(min-width: 950px){
            order: 2;
            flex: 1;
        }
    }

  

    &__logoAndSocial{
        display: flex;
        flex-flow: column;
        align-items: center;
        @media(min-width: 950px){
           order: -1;
           flex: 1;
        }
    }
}

.footerNav{
    padding:$elementY;
    width: 100%;
   padding-top: 40px;


    ul{
        height: 170px;
        display: flex;
        flex-flow: column wrap;
        align-content: space-around;
    
        li{
            margin: 5px 0;
            &:hover{
                color: $BrightRed;
                cursor: pointer;
            }
        }
    }

    @media(min-width: 950px){
        flex: 1;
     }
}

.social{
    width: 100%;
    display: flex;
    @media(min-width: 950px){
       justify-content: center;
     }
    
    svg{
        margin: 40px 10px ;
        &:hover{
            color: $BrightRed;
            cursor: pointer;
        }
    }
}